* {
    margin: 0;
    padding: 0;
    box-sizing: border_box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    line-height:1.6;
}
.container{
    width: 90%;
    max-width:1220px;
    margin: 0 auto;
}
.header{
    background-color: white;
    color: black;
}
.header_cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.logo a{
    color: black;
    font-size: 1.5rem;
    text-decoration: none;
}
.nav_lista{
    list-style: none;
    display: flex;
    gap: 1.5rem;
}
.nav_link{
    color: black;
    text-decoration: none;
    font-weight: bold;
}
.header_mobile {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 18px;
    background: none;
    border: none;
    cursor: pointer;
}
.mobile-linha{
    width: 100%;
    height: 3px;
    background-color: black;
}
.main{
    background-color: aquamarine;
    padding: 2rem 0;
}
.inicio{
    background-color: blueviolet;
    height: 200px;
    margin-bottom: 1rem;
}
.sobre{
    background-color: teal;
    height: 200px;
    margin-bottom: 1rem;
}
.projetos{
    background-color: sandybrown;
    height: 200px;
    margin-bottom: 1rem;
}
.contato{
    background-color: violet;
    height: 200px;
    margin-bottom: 1rem;
}
.footer {
    background-color: gray;
    color:white;
    padding: 2rem 0;
}
.footer_cont{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer_info, .footer_social, .footer_copy{
    flex: 1;
    margin: 0.5rem;
}

@media (max-width: 768px){
    .nav_lista{
        display: none;
        flex-direction: column;
        background-color: brown;
        position: absolute;
        top:60px;
        right: 0;
        width: 200px;
        padding: 1rem;
    }
    .nav_lista.active{
        display: flex;
    }
    .header_mobile{
        display: flex;
    }
}