{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ong Criança Leo de Sá</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="container header_cont">
            <a href="{% url 'index' %}" class="logo"> 
                <img src="{% static 'assets/icons/logo.png' %}" alt="Logo Instituto da Criança Léo de Sá" width="48" height="48">
            </a>
            <nav class="nav" id="nav">
                <ul class="nav_lista">
                    <li><a href="{% url 'index' %}" class="nav_link">Inicio</a></li>
                    <li><a href="{% url 'sobre' %}" class="nav_link">Sobre</a></li>
                    <li><a href="{% url 'projetos' %}" class="nav_link">Projetos</a></li>
                    <li><a href="{% url 'doacao' %}" class="nav_link">Fazer Doação</a></li>
                    <li><a href="{% url 'contato' %}" class="nav_link">Contato</a></li>
                </ul>
            </nav>

            <button class="header_mobile" id="mobile">
                <span class="mobile-linha"></span>
                <span class="mobile-linha"></span>
                <span class="mobile-linha"></span>
            </button>
        </div>
    </header>
   
    <main class="main">
            <section class="inicio">
                <div class="carousel">
                  <div class="carousel-images">
                     <img src="{% static 'assets/fotos/sobre.jpg' %}" alt="Imagem 1" class="carousel-item">
                     <img src="{% static 'assets/fotos/Apresentação do Samba Lata no Fabio Hatman.jpg' %}" alt="Imagem 1" class="carousel-item">
                     <img src="{% static 'assets/fotos/Festa_IMG1.jpg' %}" alt="Imagem 2" class="carousel-item">
                     <img src="{% static 'assets/fotos/Festa_IMG2.jpg' %}" alt="Imagem 3" class="carousel-item">
                     <img src="{% static 'assets/fotos/Apresentação samba lata 2.jpg' %}" alt="Imagem 1" class="carousel-item">
                </div>
                
        <div class="carousel-overlay">
          <a href="{% url 'projetos' %}" ><button class="carousel-btn" onclick="window.location.href='sobre.html'"" >Conheça nossos projetos</button></a>
        </div>
            </section>
        <div class="container">
            <section class="doacao">
                <div class="doacao-conteudo">
                    <div class="text-doacao">
                        <p>"A força de um sorriso começa com um gesto de amor." <br> <br>
                            A cultura transforma. <br>
                            Com sua doação, ajudamos mais crianças e jovens a descobrirem seus talentos e acreditarem em um futuro melhor.
                    </p>
                     <a href="{% url 'doacao' %}"><button class="btn-doar" onclick="window.location.href='doacao.html'">Fazer Doação </button></a>
                </div>

                <div class="doacao-conteudo">
                    <img src="{% static 'assets/fotos/ong_leodesa_img3.jpg' %}" alt="Imagem de doação" class="doacao-img">
                </div>
                </div>
            </section>

            <section class="about">
                <div class="about-info">
                    <div class="img-sobrenos">
                        <img src="{% static 'assets/fotos/foto1.jpg' %}" alt="imagem-da-ong-1">
                        <img src="{% static 'assets/fotos/foto2.jpg' %}" alt="imagem-da-ong-2">
                        <img src="{% static 'assets/fotos/foto3.jpg' %}" alt="imagem-da-ong-3">
                        <img src="{% static 'assets/fotos/foto4.jpg' %}" alt="imagem-da-ong-4">
                        <img src="{% static 'assets/fotos/foto5.jpg' %}" alt="imagem-da-ong-5">
                        <img src="{% static 'assets/fotos/foto6.jpg' %}" alt="imagem-da-ong-6">
                        <img src="{% static 'assets/fotos/foto7.jpg' %}" alt="imagem-da-ong-7">
                        <img src="{% static 'assets/fotos/foto8.jpg' %}" alt="imagem-da-ong-8">
                    </div>

                    <div class="botoes-galeria-acao">
                        <a href="{% url 'sobre' %}" class="btn-acao primario">Quero saber mais sobre a ONG</a>
                        <a href="{% url 'contato' %}" class="btn-acao secundario">Entre em contato conosco</a>
                    </div>






                </div>
            </section>


            <section class="latest-post container">
                <h2 class="section-title">Últimas novidades</h2>
                {% for post in latest_posts %}
                <div class="post-card">
                    <h3>{{ post.title }}</h3>
                    {% if post.image %}
                        <img src="{{ post.image.url }}" alt="{{ posts.title }}" class="post-image" style="max-width:100%;height:auto;" />
                    {% endif %}
                    <p>{{ post.content }}</p>
                    <p class="post-meta">Publicado em: {{ post.created_at|date:"d/m/Y H:i" }}</p>
                </div>
                {% endfor %}
            </section>
            <div id="fb-root"></div>
            <script async defer crossorigin="anonymous"
            src="https://connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v17.0"></script>

     <div class="midias-container">

   

    <!-- FACEBOOK -->
 <section class="rede-section">

    <h2 class="rede-title">Acompanhe nossas redes</h2>
    <p class="rede-subtitle">Fique por dentro das nossas ações e projetos</p>

    <div class="midia-item">
        <div class="midia-card">
            <div class="fb-page"
                data-href="https://www.facebook.com/Institutoleodesa"
                data-tabs="timeline"
                data-width="450"
                data-height="400"
                data-small-header="true"
                data-adapt-container-width="true"
                data-hide-cover="false"
                data-show-facepile="true">
            </div>
        </div>
    </div>

</section>


    <footer class="footer">
        <div class="container footer_cont">
            <div class="footer_top">
                <div class="footer_address">
                    <h4>Endereço</h4>
                    <address>
                        <a href="https://share.google/k1bFvNXkjEURxeeq4" target="_blank" rel="noopener noreferrer">
                        R. Zeferino Reis, 324 — Centro<br>
                        São Gonçalo — RJ • CEP 24440-480
                        </a>
                      <div class="map-container">
                        <iframe
                          src="https://www.google.com/maps?q=R.+Zeferino+Reis+324+São+Gonçalo+RJ&output=embed"
                          width="250"
                          height="200"
                          style="border:0;"
                          allowfullscreen=""
                          loading="lazy"
                          referrerpolicy="no-referrer-when-downgrade">
                        </iframe>
                      </div>
                    </address>
                </div>
                <div class="footer_logo">
                    <h2>Instituto da Criança Léo de Sá</h2>
                    <p class="footer_tag">Promovendo <strong>educação e cultura para o crescimento de crianças e jovens </strong>,valorizamos o aprendizado, a criatividade e o desenvolvimento humano.</p>
                </div>
                <div class="footer_links">
                    <h4>Links</h4>
                    <ul>
                        <li><a href="{% url 'index' %}">Início</a></li>
                        <li><a href="{% url 'sobre' %}">Sobre</a></li>
                        <li><a href="{% url 'projetos' %}">Projetos</a></li>
                        <li><a href="{% url 'doacao' %}">Fazer Doação</a></li>
                        <li><a href="{% url 'contato' %}">Contato</a></li>
                    </ul>
                </div>

                <div class="footer_social">
                    <h4>Siga-nos</h4>
                    <div class="social_icons">
                        <a href="https://www.facebook.com/share/1FC9fuGg6p/" aria-label="Facebook"><i class="fa-brands fa-facebook"></i></a>
                        <a href="https://www.instagram.com/rosemaryfructuoso" aria-label="Instagram"><i class="fa-brands fa-instagram"></i></a>
                        <a href="https://wa.me/+5521964027799" aria-label="WhatsApp"><i class="fa-brands fa-whatsapp"></i></a>
                        <a href="mailto:Rosebioestetic@gmail.com" aria-label="Email"><i class="fa-solid fa-envelope"></i></a>
                    </div>
                </div>
            </div>

            <div class="footer_bottom">
                <div class="footer_copyright">
                    <p>&copy; 2025 Instituto da Criança Léo de Sá. Todos os direitos reservados.</p>
                </div>
                <div class="footer_meta">
                    <p>CNPJ: 19.323.266/0001-01</p>
                </div>
            </div>
        </div>
    </footer>
    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/home.js' %}"></script>

</body>
</html>