{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ong Criança Leo de Sá</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/sobre.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
    {% load static %}
</head>
<body>
    <header>
        <div class="container header_cont">
            <a href="{% url 'index' %}" class="logo"> 
                <img src="{% static 'assets/icons/logo.png' %}" alt="Logo Instituto da Criança Léo de Sá" width="48" height="48">
            </a>
            <nav class="nav" id="nav">
                <ul class="nav_lista">
                    <li><a href="{% url 'index' %}" class="nav_link">Inicio</a></li>
                    <li><a href="{% url 'sobre' %}" class="nav_link">Sobre</a></li>
                    <li><a href="{% url 'projetos' %}" class="nav_link">Projetos</a></li>
                    <li><a href="{% url 'doacao' %}" class="nav_link">Fazer Doação</a></li>
                    <li><a href="{% url 'contato' %}" class="nav_link">Contato</a></li>
                </ul>
            </nav>

            <button class="header_mobile" id="mobile">
                <span class="mobile-linha"></span>
                <span class="mobile-linha"></span>
                <span class="mobile-linha"></span>
            </button>
        </div>
    </header>

    <main class="main">
        <div class="container">
            <div class="containers">
                <div class="conteudo">
                    <!-- sobre inicial  -->
                    <div class="sobre-bloco">
                        <div class="texto-sobre">
                            <h2>Sobre o Instituto Criança Léo de Sá</h2>
                            <p>
                                O <strong>Instituto Criança Léo de Sá</strong> é uma organização social sediada em São Gonçalo, RJ,
                                dedicada a promover o desenvolvimento cultural, social e artístico da comunidade local.
                                Fundado com o sonho de seu idealizador, Léo de Sá, o instituto atua com projetos que valorizam
                                a criatividade, a inovação e o empoderamento por meio da arte e da cultura.
                            </p>
                            <p>
                                Por meio de oficinas de teatro, projetos musicais e ações de empreendedorismo cultural,
                                a ONG busca transformar vidas, criando oportunidades para crianças e jovens expressarem seus talentos
                                e conquistarem um futuro mais promissor.
                            </p>
                        </div>

                        <div class="img-sobre">
                            <img src="{% static 'assets/fotos/sobre.jpg' %}" alt="Atividades culturais da ONG">
                        </div>
                    </div>

                    <!-- missão -->
                    <h2>Nossa Missão</h2>
                    <p>
                        Promover o desenvolvimento social e cultural da comunidade de São Gonçalo através de ações educativas,
                        artísticas e culturais, incentivando a inclusão, a cidadania e o protagonismo juvenil.
                        Nosso compromisso é oferecer espaços de aprendizado e crescimento que fortaleçam os laços comunitários
                        e transformem realidades.
                    </p>

      <img src="{% static 'assets/fotos/oficina jovem.jpg' %}" alt="Crianças participando de atividades">

      <!-- valores -->
      <div class="valores">
        <h2>Nossos Valores</h2>
        <div class="texto-valores">
          <p><strong>Empatia:</strong> colocamos as pessoas no centro de todas as nossas ações, buscando entender e atender suas necessidades.</p>
          <p><strong>Criatividade:</strong> valorizamos a expressão artística como ferramenta de transformação social.</p>
          <p><strong>Transparência:</strong> atuamos com responsabilidade e clareza em todas as nossas iniciativas.</p>
          <p><strong>Colaboração:</strong> acreditamos na força do trabalho coletivo para alcançar resultados significativos.</p>
          <p> <strong> Valores não são apenas palavras, mas atitudes que moldam cada projeto e cada encontro.
              É nas pequenas ações do dia a dia que a empatia se manifesta, que a criatividade floresce e que a
              transformação acontece de verdade.</strong>
          </p>
        </div>
        <img src="{% static 'assets/fotos/apresentação.jpg' %}" alt="Equipe colaborando em projetos" class="img-valores">
      </div>

      <!-- historia -->
      <h2>Nossa História</h2>
      <p>
        Desde sua fundação, o Instituto Criança Léo de Sá tem sido um espaço de esperança e transformação.
        Inspirados no legado de Léo de Sá, dedicamos nosso trabalho a promover o acesso à cultura e à educação
        para crianças e jovens, fortalecendo o tecido social da nossa comunidade.
      </p>
      <p>
        Ao longo dos anos, nossos projetos <em>“Samba Lata”</em> e <em>“Sons da Diversidade”</em> vêm conquistando
        reconhecimento por sua relevância e impacto social.
      </p>
      <img src="{% static 'assets/fotos/samba lata.jpg' %}" alt="Projeto Samba Lata" class="img-final">
    </div>
  </div>
        </div>
    </main>

    <footer class="footer">
        <div class="container footer_cont">
            <div class="footer_top">
                <div class="footer_address">
                    <h4>Endereço</h4>
                    <address>
                        <a href="https://share.google/k1bFvNXkjEURxeeq4" target="_blank" rel="noopener noreferrer">
                        R. Zeferino Reis, 324 — Centro<br>
                        São Gonçalo — RJ • CEP 24440-480
                        </a>
                      <div class="map-container">
                        <iframe
                          src="https://www.google.com/maps?q=R.+Zeferino+Reis+324+São+Gonçalo+RJ&output=embed"
                          width="250"
                          height="200"
                          style="border:0;"
                          allowfullscreen=""
                          loading="lazy"
                          referrerpolicy="no-referrer-when-downgrade">
                        </iframe>
                      </div>
                    </address>
                </div>
                <div class="footer_logo">
                    <h2>Instituto da Criança Léo de Sá</h2>
                    <p class="footer_tag">Promovendo <strong>educação e cultura para o crescimento de crianças e jovens </strong>,valorizamos o aprendizado, a criatividade e o desenvolvimento humano.</p>
                </div>
                <div class="footer_links">
                    <h4>Links</h4>
                    <ul>
                        <li><a href="{% url 'index' %}">Início</a></li>
                        <li><a href="{% url 'sobre' %}">Sobre</a></li>
                        <li><a href="{% url 'projetos' %}">Projetos</a></li>
                        <li><a href="{% url 'doacao' %}">Fazer Doação</a></li>
                        <li><a href="{% url 'contato' %}">Contato</a></li>
                    </ul>
                </div>

                <div class="footer_social">
                    <h4>Siga-nos</h4>
                    <div class="social_icons">
                        <a href="https://www.facebook.com/share/1FC9fuGg6p/" aria-label="Facebook"><i class="fa-brands fa-facebook"></i></a>
                        <a href="https://www.instagram.com/rosemaryfructuoso" aria-label="Instagram"><i class="fa-brands fa-instagram"></i></a>
                        <a href="https://wa.me/+5521964027799" aria-label="WhatsApp"><i class="fa-brands fa-whatsapp"></i></a>
                        <a href="mailto:Rosebioestetic@gmail.com" aria-label="Email"><i class="fa-solid fa-envelope"></i></a>
                    </div>
                </div>
            </div>

            <div class="footer_bottom">
                <div class="footer_copyright">
                    <p>&copy; 2025 Instituto da Criança Léo de Sá. Todos os direitos reservados.</p>
                </div>
                <div class="footer_meta">
                    <p>CNPJ: 19.323.266/0001-01</p>
                </div>
            </div>
        </div>
    </footer>

    <script src="{% static 'js/sobre.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
